:root {
    --van-grey-light: #61616d;
    --van-grey-medium: #404049;
    --van-grey-dark: #323238;
    --van-red: #ea4a56;
    --van-red-dark: #9a3038;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html, body {
    margin: 0;
    height: 100%;
}

html {
    background: var(--van-grey-dark);
}

body {
    animation: showInterface 0.5s ease-out;
    font-family: 'Default System', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#top, #bottom {
    display: flex;
    justify-content: space-between;
}

#top {
    height: 17.5%;
    border-bottom: 1vh solid var(--van-red);
    background: var(--van-grey-light);
}

#bottom {
    background: var(--van-grey-medium);
    flex-grow: 1;
}

#datetime-container {
    width: 30%;
    padding-bottom: 2.5vh;
    padding-left: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
}

#time {
    font-size: 7vmin;
}

#date {
    font-size: 3vmin;
}

#mini-music-player {
    padding: 1vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#mini-music-player > * {
    margin-right: 1vw;
}

#mini-music-player > *:last-child {
    margin-right: 0;
}

#mini-music-player > button {
    height: 7vw;
    width: 7vw;
    font-size: 3vw;
    background: var(--van-red);
    color: white;
}

#mini-music-player > button:active {
    box-shadow: 0 0 5px #000 inset;
}

#mini-music-player-playing-status-cont {
    width: 25vw;
    height: 100%;
    background: var(--van-grey-dark);
    padding: 0 1.25vw;
    border-radius: 1vw;
    border: 0.2vw solid white;
}

#mini-music-player-song-name-cont {
    height: 50%;
    display: flex;
    align-items: center;
}

#mini-music-player-song-name {
    font-size: 1.65rem;
}

#mini-music-player-duration-cont {
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

#mini-music-player-duration-bar {
    height: 1.75vh;
    background: var(--van-red-dark);
    border-radius: 2vw;
    border: 0.1vw solid white;
    margin: 0 1vw;
    flex-grow: 1;
    overflow: hidden;
}

#mini-music-player-duration-bar-fill {
    height: 100%;
    width: 0%;
    background: var(--van-red);
    border-radius: 2vw;
    transition: width 0.25s;
}

#app {
    width: 82%;
    overflow: hidden; /* Prevents apps from controlling width */
}

#app.switch-app-animation {
    animation: switchApp 0.5s ease-out;
}

#driver-buttons-cont {
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: var(--van-grey-dark);
    box-shadow: 1vw 0 2vw rgba(0, 0, 0, 0.15) inset;
}

.app-link {
    width: 85%;
    text-align: center;
    padding: 1.5vw;
}

.app-icon {
    width: 100%;
    display: block;
    border-radius: 50%;
    border: 0.4vw solid white;
    box-shadow: 0.35vw 0.35vw rgba(0, 0, 0, 0.5);
    transition: opacity 0.15s;
    cursor: pointer;
}

.app-icon:active {
    opacity: 0.5;
}

.app-name {
    padding: 2vh 0;
    font-size: 1.35rem;
    font-family: 'Default System', sans-serif;
    color: white;
}

/* Startup animation to show the entire interface itself */
@keyframes showInterface {
    from {
        opacity: 0;
        transform: scale(0.4)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

/* Animation during the switching of apps (open/close) */
@keyframes switchApp {
    0% {
        transform: scale(1);
        opacity: 1;
        background: transparent;
    }

    50% {
        transform: scale(0.4);
        opacity: 0;
        background: rgba(255, 255, 255, 0.25);
    }

    100% {
        transform: scale(1);
        opacity: 1;
        background: transparent;
    }
}
