.app-drawer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--van-grey-medium);
    user-select: none;

    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        flex-wrap: wrap;
        padding: 0 6vw;
    }

    .app-link {
        width: 25%;
    }
}
